<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Home</h1>
      <p class="lead">Landing</p>
    </div>
  </div>
  <div class="col-md-12">
    {{#if articles}}
      {{#each articles}}
        <p>{{this.title}}</p>
        <p>{{this.link}}</p>
        <button class='save-btn' data-id={{this._id}}>Save Article</button>
      {{/each}}
    {{else}}
    <p>No Articles</p>
  {{/if}}
  </div>
</div>


<script>
    //Handle Save Article button
$(".save-btn").on("click", function() {
    var thisId = $(this).attr("data-id");
    $.ajax({
        method: "POST",
        url: "/articles/save/" + thisId
    }).done(function(data) {
        window.location = "/"
    })
});
</script>
  