<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Home</h1>
      <p class="lead">Saved Articles</p>
    </div>
  </div>
  <div class="col-md-12">
    {{#if articles}}
      {{#each articles}}
        <p>{{this.title}}</p>
        <p>{{this.link}}</p>
      {{/each}}
    {{else}}
    <p>No Saved Articles</p>
  {{/if}}
  </div>
</div>


